{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LMS</title>
    

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="{% static 'script.js' %}"></script>
    <script src="https://kit.fontawesome.com/1b5555827c.js" crossorigin="anonymous"></script>

</head>
<body>

<header class="header">

    <a href="#" class="logo"> <i class="fa-solid fa-book"></i> LMS </a>

    <nav class="navbar">
        <a href="http://127.0.0.1:8000">home</a>
        <a href="http://127.0.0.1:8000/add_new_book">add books</a>
        <a href="http://127.0.0.1:8000/view_books">book</a>
        <a href="http://127.0.0.1:8000/add_new_student">add students</a>
        <a href="http://127.0.0.1:8000/show_students">student</a>
    </nav>

    <div id="menu-btn" class="fas fa-bars"></div>

</header>

<section class="home" id="home">

    <div class="content">
        <h3>Welcome to Library Management Portal - Amrita</h3>
        <p>Good books don't giveup all their secrets at once.</p>
    </div>

</section>


<section class="icons-container">

    <div class="icons">
        <i class="fa-solid fa-book-open"></i>
        <h3>140+</h3>
        <p>Books are available.</p>
    </div>

    <div class="icons">
        <i class="fas fa-users"></i>
        <h3>1040+</h3>
        <p>Students Enrolled.</p>
    </div>

    <div class="icons">
        <i class="fa-solid fa-wifi"></i>
        <p>Wifi available.</p>
    </div>

</section>


<section class="doctors" id="doctors">

    <h1 class="heading"> <span>Staff</span> </h1>

    <div class="box-container">

        <div class="box">
            <img src="{% static "image/Prashant.png" %}" alt="">
            <h3>Prashant Gehlot</h3>
            <span>S3 Student</span>
            <div class="share">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-linkedin"></a>
            </div>
        </div>

        <div class="box">
            <img src="{% static "image/Gaurav.png" %}" alt="">
            <h3>Gaurav Sharma</h3>
            <span>S3 Student</span>
            <div class="share">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-linkedin"></a>
            </div>
        </div>

        <div class="box">
            <img src="{% static "image/Saumy.png" %}" alt="">
            <h3>Saumy Shukla</h3>
            <span>S3 Student</span>
            <div class="share">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-linkedin"></a>
            </div>
        </div>

        <div class="box">
            <img src="{% static "image/Yash.png" %}" alt="">
            <h3>Yash Katyan</h3>
            <span>S3 Student</span>
            <div class="share">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-linkedin"></a>
            </div>
        </div>

        <div class="box">
            <img src="{% static "image/Satrudhan.jpg" %}" alt="">
            <h3>Satrudhan Kumar Chauhan</h3>
            <span>S3 Student</span>
            <div class="share">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-linkedin"></a>
            </div>
        </div>



</section>


<section class="book" id="book">

    <h1 class="heading"> <span>Request</span> Book </h1>    

    <div class="row">

        <form action="">
            <h3>request for book</h3>
            <input type="text" placeholder="Book Title" class="box">
            <input type="text" placeholder="Your Name" class="box">
            <input type="number" placeholder="Your Roll-Number" class="box">
            <input type="email" placeholder="Your Email" class="box">
            <input type="date" class="box">
            <input type="submit" value="Request for issue" class="btn">
        </form>

    </div>

</section>

<section class="footer">

    <div class="box-container">

        <div class="box">
            <h3>Book Categories</h3>
            <a href="#"> <i class="fas fa-chevron-right"></i> Educational </a>
            <a href="#"> <i class="fas fa-chevron-right"></i> Fiction </a>
            <a href="#"> <i class="fas fa-chevron-right"></i> Literature </a>
            <a href="#"> <i class="fas fa-chevron-right"></i> Autobiography </a>
        </div>

        <div class="box">
            <h3>contact info</h3>
            <a href="#"> <i class="fas fa-phone"></i> +91 9876543210 </a>
            <a href="#"> <i class="fas fa-envelope"></i> example@abc.com </a>
            <a href="#"> <i class="fas fa-map-marker-alt"></i> Amrita School of engineering, Amritapuri </a>
        </div>

        <div class="box">
            <h3>follow us</h3>
            <a href="#"> <i class="fab fa-facebook-f"></i> facebook </a>
            <a href="#"> <i class="fab fa-twitter"></i> twitter </a>
            <a href="#"> <i class="fab fa-instagram"></i> instagram </a>
            <a href="#"> <i class="fab fa-linkedin"></i> linkedin </a>
        </div>

    </div>

</section>


</body>
</html>